[Unit]
Description=Augmente le temps des applications

[Service]
Type=oneshot
Restart=no
ExecStart=/usr/bin/timetracker update

[Install]
WantedBy=timers.target
