[Unit]
Description=Met à jour les temps d'utiliastions

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=no
ExecStart=/usr/local/bin/timetracker
User=adrien
Group=adrien
